.breadcrumb {
  font-size: 0.8rem;

  li{
    margin-left: 0!important;
    padding-left: 0!important;

    a {
      color: #666;

      &:hover {
        color: #000;
      }
    }

    i {
      vertical-align: baseline;
      margin-right: 3px;
    }
  }
}

.breadcrumb-separator{
  margin-left: 7px;
  margin-right: 6px;
}
