.datepicker {
  position: relative;
}

.input.is-placeholder {
  color: $grey-light;
}

.input-wrapper {
  position: relative;

  .cancel-btn {
    font-size: 1rem;
    position: absolute;
    display: block;
    width: 20px;
    line-height: 2.25em;
    right: 5px;
    top: 0;
    cursor: pointer;
  }
}

.calendar {
  position: absolute;
  left: 0;
  z-index: 5000;
  border: 1px solid #eee;
  border-radius: $radius;
  box-sizing: border-box;
  width: 337px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateY(4px);

  a {
    color: $grey;
  }

  .calendar-hd {
    line-height: 36px;
    margin-bottom: 5px;

    a {
      &.change-btn {
        width: 100px;

        &:hover {
          background-color: $white-ter;
        }
      }

      &.preview-btn {
        width: 50px;
      }
    }
  }

  .type-date {
    a, span {
      width: 27px;
      height: 27px;
      line-height: 27px;
      margin: 3px 8px;
    }

    span {
      font-weight: $weight-semibold;
    }

    a {
      font-size: 0.8em;

      &.is-today {
        color: $primary;
      }

      &:hover, &.is-active {
        background-color: $primary !important;
        border-radius: 50px;
        color: $white !important;
      }

      &.is-prev, &.is-next {
        color: $grey-lighter;
      }
    }
  }

  .type-month, .type-year {
    a {
      width: 89px;
      height: 36px;
      line-height: 36px;
      margin: 3px 8px;

      &:hover {
        background-color: $white-ter;
      }
    }
  }
}
